        *{
            margin: 0;
            padding: 0;
        }
        video {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        body {
            font-family: Arial, sans-serif;
            background-clip: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        h1 {
            background-color: #000000;
            color: white;
            width: 100%;
            text-align: center;
            padding: 5px;
            margin-bottom: 20px;
            
        }

        .gallery-container {
            background-color: rgba(0, 0, 0, 0.595);
            border-radius: 10px;
            padding: 30px;
            box-shadow: 0 4px 6px rgba(251, 249, 249, 0.64);
            text-align: center;
            width: 600px;
            max-width: 500px;

        }

        .gallery-container img {
            width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
            height: 300px;
        }


        .button-group {
            display: flex;
            gap: 10px;
            justify-content: center;
        }

        button {
            background-color: #000000;
            color: white;
            border: none;
            padding: 10px 30px;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #4c4c62;
        }

        .footer {
       background-color: #000000;
            color: white;
            width: 100%;
            text-align: center;
            padding: 5px;
            margin-top: 150px;
            
        }